Flask~=3.0.3
pandas~=2.2.2
requests~=2.32.3
bs4~=0.0.2
beautifulsoup4~=4.12.3
persiantools~=4.2.0
numpy~=1.24.3
scikit-learn~=1.5.1
plotly~=5.23.0
xgboost~=2.1.1
catboost~=1.2.5
hazm~=0.10.0
DateTime~=5.5
joblib~=1.4.2
jdatetime~=5.0.0
scipy~=1.13.1